/********** General ************/

@font-face {
    font-family: "m";
    src: url("../../rg/fonts/m/Raleway-Regular.ttf");
}

@font-face {
    font-family: "b";
    src: url("../../rg/fonts/m/Raleway-Bold.ttf");
}

@font-face {
    font-family: "l";
    src: url("../../rg/fonts/m/Raleway-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red       : #D42C30;
    --color-after     : #D42C30;
    --color-gray      : #ababab;
    --color-gray-claro: #e6e3e3;
}

body {
    font-family: "m";
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    background-color: var(--color-gray-claro);
}

/************* Header **************/
header {
    position: fixed;
    width: 100%;
    height: 160px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white;
    font-size: 18px;
    transition: background-color .5s;
    z-index: 1;
}

header.active {
    border-bottom: 1px solid white;
    background-color: var(--color-red);
    height: 120px;
}

header .logo {
    width: 200px;
}

@keyframes change {
    0% {
        width: 50px;
    }
    100% {
        width: 100px;
    }
}

header .logo.active {
    animation: change 1s;
    animation-fill-mode: forwards;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul a:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

header ul a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-after);
    margin-top: 9px;
    transition: clip-path .5s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

header .redes img {
    filter: invert(100%);
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

header .redes img:hover {
    filter: invert(35%) sepia(63%) saturate(5047%) hue-rotate(340deg) brightness(82%) contrast(101%);
}

/*********** Bg *************/
.bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("../../rg/img/contacto.jpg");
    background-size: cover;
}

/************ Banner **************/
.banner {
    width: 65%;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    color: white;
    font-size: 18px;
    position: relative;
    top: -140px;
}

.red {
    background-color: var(--color-red);
    padding: 60px 120px;
    line-height: 30px;
    text-align: center;
}

.red .redes {
    margin-top: 28px;
}

.red img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    margin-left: 10px;
}

.red img:hover {
    filter: invert(15%) sepia(33%) saturate(7368%) hue-rotate(346deg) brightness(78%) contrast(105%);
}

.white {
    background-color: white;
    color: black;
    padding: 25px 50px 35px;
}

.white h2 {
    font-family: "b";
    font-size: 42px;
}

.white div {
    display: flex;
    align-items: center;
    margin: 25px 0 0 160px;
}

.white img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.banner iframe {
    width: 100%;
    height: 450px;
}

/************ Footer ************/
footer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 80px 80px;
    background-color: var(--color-red);
    color: white;
}

.container p {
    margin-top: 30px;
    line-height: 28px;
}

.container ul , .container .info{
    margin-top: 20px;
}

.container li {
    font-size: 18px;
    margin-top: 10px;
}

.container a {
    display: block;
    width: fit-content;
}

.container a:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.container a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 5px;
    transition: clip-path .5s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.container .logo {
    width: 270px;
}

.container .info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.container h3 {
    font-weight: bold;
    font-size: 22px;
}

.container .info img {
    filter: invert(100%);
    width: 22px;
    height: 22px;
}

footer .container {
    width: 330px;
}

footer .redes {
    display: flex;
    gap: 15px;
    filter: invert(100%);
    margin-top: 30px;
}


footer .redes img {
    width: 30px;
}