/********** General ************/

@font-face {
    font-family: "m";
    src: url("../../rg/fonts/m/Raleway-Regular.ttf");
}

@font-face {
    font-family: "b";
    src: url("../../rg/fonts/m/Raleway-Bold.ttf");
}

@font-face {
    font-family: "l";
    src: url("../../rg/fonts/m/Raleway-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red       : #D42C30;
    --color-after     : #D42C30;
    --color-gray      : #ababab;
    --color-gray-claro: #e6e3e3;
}

body {
    font-family: "m";
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    background-color: var(--color-gray);
}

/************* Header **************/
header {
    position: fixed;
    width: 100%;
    height: 160px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white;
    font-size: 18px;
    transition: background-color .5s;
    z-index: 1;
}

header.active {
    border-bottom: 1px solid white;
    background-color: var(--color-red);
    height: 120px;
}

header .logo {
    width: 200px;
}

@keyframes change {
    0% {
        width: 50px;
    }
    100% {
        width: 100px;
    }
}

header .logo.active {
    animation: change 1s;
    animation-fill-mode: forwards;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul a:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

header ul a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-after);
    margin-top: 9px;
    transition: clip-path .5s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

header .redes img {
    filter: invert(100%);
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

header .redes img:hover {
    filter: invert(15%) sepia(33%) saturate(7368%) hue-rotate(346deg) brightness(78%) contrast(105%);
}

/************** Bg ****************/
.bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5) 100%, transparent), url("../../rg/img/catedra.jpg");
    background-size: cover;
}

.bg div {
    position: absolute;
    bottom: 80px;
    color: white;
    width: 520px;
    font-size: 22px;
    text-align: start;
    left: 170px;
}

.bg h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.bg p {
    line-height: 33px;
}

/*************** Cont-cards *****************/
.cont-cards {
    width: 100%;
    background-color: var(--color-gray-claro);
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.card {
    width: 70%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.cont-img {
    width: 25%;
    background-color: var(--color-gray);
    position: relative;
}

.cont-img div {
    background-color: var(--color-gray-claro);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 3px solid white;
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
}

.cont-img img {
    width: 100%;
    height: 100%;
}

.cont-text {
    background-color: white;
    width: 75%;
    padding: 30px 90px;
}

.cont-text p {
    line-height: 30px;
    margin-top: 16px;
}

/************ Footer ************/
footer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 80px 80px;
    background-color: var(--color-red);
    color: white;
}

.container p {
    margin-top: 30px;
    line-height: 28px;
}

.container ul , .container .info{
    margin-top: 20px;
}

.container li {
    font-size: 18px;
    margin-top: 10px;
}

.container a {
    display: block;
    width: fit-content;
}

.container ul a:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.container ul a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 5px;
    transition: clip-path .5s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.container .logo {
    width: 270px;
}

.container .info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.container h3 {
    font-weight: bold;
    font-size: 22px;
}

.container .info img {
    filter: invert(100%);
    width: 22px;
    height: 22px;
}

footer .container {
    width: 330px;
}

footer .redes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}


footer .redes img {
    width: 30px;
    filter: invert(100%);
}

footer .redes img:hover {
    filter: invert(15%) sepia(33%) saturate(7368%) hue-rotate(346deg) brightness(78%) contrast(105%);
}