/********** General ************/

@font-face {
    font-family: "m";
    src: url("../../rg/fonts/m/Raleway-Regular.ttf");
}

@font-face {
    font-family: "b";
    src: url("../../rg/fonts/m/Raleway-Bold.ttf");
}

@font-face {
    font-family: "l";
    src: url("../../rg/fonts/m/Raleway-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red       : #D42C30;
    --color-after     : #D42C30;
    --color-gray      : #ababab;
    --color-gray-claro: #e6e3e3;
}

body {
    font-family: "m";
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    background-color: var(--color-gray-claro);
}

/************* Header **************/
header {
    position: fixed;
    width: 100%;
    height: 160px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white;
    font-size: 18px;
    transition: background-color .5s;
    z-index: 1;
}

header.active {
    border-bottom: 1px solid white;
    background-color: var(--color-red);
    height: 120px;
}

header .logo {
    width: 200px;
}

@keyframes change {
    0% {
        width: 50px;
    }
    100% {
        width: 100px;
    }
}

header .logo.active {
    animation: change 1s;
    animation-fill-mode: forwards;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul a:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

header ul a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-after);
    margin-top: 9px;
    transition: clip-path .5s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

header .redes img {
    filter: invert(100%);
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

header .redes img:hover {
    filter: invert(15%) sepia(33%) saturate(7368%) hue-rotate(346deg) brightness(78%) contrast(105%);
}

header button {
    position: fixed;
    background-color: transparent;
    left: 20px;
    top: 55px;
    display: none;
}

header button img {
    width: 50px;
    height: 40px;
}

header .menu {
    position: fixed;
    width: 100%;
    top: 160px;
    padding: 30px;
    left: 0;
    background-color: var(--color-red);
    display: none;
}

header .menu.active {
    display: flex;
}

header .menu ul {
    flex-direction: column;
}

header .menu ul a:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

header .menu ul a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-after);
    margin-top: 9px;
    transition: clip-path .5s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/*********** Bg *************/
.bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("../../rg/img/contacto.jpg");
    background-size: cover;
}

.bg .cont-text {
    position: absolute;
    bottom: 50px;
    left: 150px;
    color: white;
    width: 75%;
}

.bg .cont-text h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.bg .cont-text p {
    line-height: 30px;
}

.bg .cont-text img {
    filter: invert(100%);
    width: 30px;
}

.bg .cont-text div {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.bg div > a {
    background-color: var(--color-red);
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 50px;
}

.bg ul {
    display: flex;
    gap: 10px;
}


/************** Carrusel ****************/
.carrusel {
    padding: 50px 0 80px;
}

.cont-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    width: fit-content;
    margin: 30px auto;
    background-color: white;
    box-shadow: 2px 2px 9px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}

.cont-buttons button:first-child {
    background-color: var(--color-red);
}

.cont-buttons button{
    color: black;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: transparent;
}
.cont-buttons button:first-child {
    color: white;
}

.slider {
    width: 65%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.slider .bg {
    width: 100%;
    height: 280px;
}

.box .foot > a {
    background-color: var(--color-red);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--color-red)
}

.box a:hover {
    color: var(--color-red);
    background-color: white;
}

.box > div {
    padding: 20px 15px;
    text-align: start;
    background-color: white;
    height: 100%;
}

.box {
    border-radius: 15px;
    overflow: hidden;
}

.box span {
    color: gray;
}

.box p {
    font-weight: bold;
}

.box h2 {
    padding: 8px 0;
    font-size: 20px;
}

.box .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box .redes img {
    width: 30px;
    height: 30px;
    filter: invert(60%);
    margin-left: 3px;
}

.box .redes img:first-child {
    height: 32px;
    width: 32px;
}

.sliderMove {
    display: flex;
    width: 300%;
}

.caja {
    width: calc(100% / 3);
    opacity: 0;
    transition: opacity .8s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.caja:first-child {
    opacity: 1;
}

/************ Footer ************/
footer {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 80px 80px;
    background-color: var(--color-red);
    color: white;
}

.container p {
    margin-top: 30px;
    line-height: 28px;
}

.container ul , .container .info{
    margin-top: 20px;
}

.container li {
    font-size: 18px;
    margin-top: 10px;
}

.container a {
    display: block;
    width: fit-content;
}

.container ul a:hover::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.container ul a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 5px;
    transition: clip-path .5s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.container .logo {
    width: 270px;
}

.container .info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.container h3 {
    font-weight: bold;
    font-size: 22px;
}

.container .info img {
    filter: invert(100%);
    width: 22px;
    height: 22px;
}

footer .container {
    width: 330px;
}

footer .redes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

footer .redes img {
    width: 30px;
    filter: invert(100%);
}

footer .redes img:hover {
    filter: invert(15%) sepia(33%) saturate(7368%) hue-rotate(346deg) brightness(78%) contrast(105%);
}

/************** Querys *****************/
@media (max-width: 1200px) {
    /************ Header ************/
    header .logo {
        width: 100px;
    }
}

@media (max-width: 1024px) {
    /************ Header ************/
    header > ul , header .redes {
        display: none;
    }

    header button {
        display: flex;
    }

    header {
        justify-content: center;
    }

    header .logo {
        margin-top: 25px;
        width: 220px;
    }

    /************** Bg *************/
    .bg .cont-text {
        left: 50px;
    }

    /*********** Carrusel *************/
    .slider {
        width: 90%;
    }

    /************** Footer **************/
    footer {
        flex-direction: column;
        padding-bottom: 100px;
    }

    footer .container {
        width: auto;
        position: relative;
    }

    footer .redes {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    /*********** Header ************/
    header .logo {
        width: 140px;
    }

    /************** Bg *************/
    .bg .cont-text h1 {
        font-size: 25px;
    }

    /********* Footer ***********/
    footer {
        padding: 40px 20px;
        padding-bottom: 100px;
    }

    /********** Carrusel ************/
    .caja {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    /************** Bg *************/
    .bg .cont-text {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    /************* Carrusel **************/
    .cont-buttons {
        gap: 0;
    }
    .cont-buttons button {
        padding: 10px;
    }
}